<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<!-- Send debug messages to System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.hibernate.SQL" additivity="false" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.hibernate.type" additivity="false" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	
<!-- 

We are defining two loggers:

    An user defined logger – Which handles classes logging in the package com.javacodegeeks.examples.logbackexample.beans, has an INFO level and points to the standard output console
    A ROOT logger – Which handles logging in all of the classes that are not in the package com.javacodegeeks.examples.logbackexample.beans, has a DEBUG level and points to the standard output console
    

	<logger name="com.javacodegeeks.examples.logbackexample.beans"
		level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
 -->
 
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

<!-- <?xml version="1.0" encoding="UTF-8"?> <configuration> <appender name="STDOUT" 
	class="ch.qos.logback.core.ConsoleAppender"> <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
	<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n </Pattern> 
	</encoder> </appender> <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
	<file>c:/mkyongapp.log</file> <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
	<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n 
	</Pattern> </encoder> <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy"> 
	<FileNamePattern>c:/mkyongapp.%i.log.zip</FileNamePattern> <MinIndex>1</MinIndex> 
	<MaxIndex>10</MaxIndex> </rollingPolicy> <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> 
	<MaxFileSize>2MB</MaxFileSize> </triggeringPolicy> </appender> <logger name="org.hibernate.type" 
	level="ALL" /> <logger name="org.hibernate" level="DEBUG" /> <root level="INFO"> 
	<appender-ref ref="FILE" /> <appender-ref ref="STDOUT" /> </root> </configuration> -->